* {
  padding: 0%;
  margin: 0%;
}
a {
  text-decoration: none;
  color: white;
}

@mixin fonttitles($size) {
  font-size: $size;
  font-family: Arial, Helvetica, sans-serif;
}
@mixin fontsubtitles($size) {
  font-size: $size;
  font-family: monospace;
  font-weight: normal;
}

@mixin none_a($color) {
  text-decoration: none;
  color: $color;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes nav_menu1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(-8px, 7px);
  }
}
@keyframes nav_menu1_return {
  from {
    transform: rotate(-45deg) translate(-8px, 7px);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes nav_menu2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes nav_menu2_return {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes nav_menu3 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(9px, -11px);
  }
}
@keyframes nav_menu3_return {
  from {
    opacity: 0;
    transform: rotate(-45deg) translate(9px, -11px);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

body {
  height: 1300px;
  width: 100vw;
  display: grid;
  grid-template-rows: 20% 38% 36% 6%;
  grid-template-columns: 100%;
  overflow-x: hidden;
}

header {
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 30% 70%;
}

#first_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #607f9b;
  border-bottom: 4px solid rgba(62, 0, 119, 0.808);
  width: 100vw;
  .header,
  .header_perfil {
    @include fonttitles(13px);
    color: white;
  }

  .header_perfil {
    margin-left: 2%;
  }
  .blog {
    margin-left: 15%;
    a {
      @include none_a(white);
    }
  }

  /*MENU DONDE ESTAN LOS HEADERS, SE PONE ANIMACION Y SE OCULTA
  PARA DESPUES EN RESPONSIVE MOSTRARLO Y OCULTAR LOS HEADER*/
}
#menu_button {
  display: none;
}

#second_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#Q {
  @include fonttitles(30px);
  text-align: center;
  margin-top: 4%;
  grid-column: 2/5;
  grid-row: 1/2;
}
#A {
  @include fontsubtitles(20px);
  text-align: center;
  margin-top: 2%;
  grid-column: 2/5;
  grid-row: 2/3;
}

/*HEADER END*/

/*MAIN START*/
main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 60% 40%;
  #message {
    padding: 0% 5% 0% 5%;
    height: 100%;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 5% 6% 5% 5% 6% 5% 5% 20% 8% 20%;

    .alert {
      z-index: 2;
      background-color: #dededeec;
      border: 2px grey solid;
      box-shadow: 0px 7px 5px 3px #000000;
      grid-column: 3/6;
      grid-row: 4/10;
      img {
        margin-left: 35%;
        width: 30%;
        height: 50%;
      }
      h4 {
        @include fontsubtitles(15px);
        text-align: center;
      }
      input {
        margin: 5% 0% 0% 8%;
        height: 15%;
        width: 80%;
      }
    }
    .enviado {
      display: none;
      input {
        background-color: rgb(3, 161, 3);
      }
    }
    .no_enviado {
      display: none;
      input {
        background-color: #d0342cdc;
      }
    }
    .tittle {
      @include fonttitles(15px);
    }
    p {
      display: flex;
      justify-content: center;
      color: red;

      height: 50%;
    }
    .first_name {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    #first_name {
      background-color: rgba(218, 218, 218, 0.274);
      grid-column: 1/3;
      grid-row: 2/3;
      height: 80%;
      width: 100%;
    }
    #error_name {
      opacity: 0;
      grid-column: 1/3;
      grid-row: 3/4;
    }

    .last_name {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    #last_name {
      background-color: rgba(218, 218, 218, 0.274);
      grid-column: 4/6;
      grid-row: 2/3;
      height: 80%;
    }
    #error_last_name {
      opacity: 0;
      grid-column: 4/6;
      grid-row: 3/4;
    }
    .mail {
      margin-top: 2%;
      grid-column: 1/6;
      grid-row: 4/5;
    }
    #mail {
      background-color: rgba(218, 218, 218, 0.274);
      grid-column: 1/6;
      grid-row: 5/6;
    }
    #error_email {
      opacity: 0;
      grid-column: 1/6;
      grid-row: 6/7;
    }
    .message {
      grid-column: 1/6;
      grid-row: 7/8;
    }
    #text_message {
      grid-column: 1/6;
      grid-row: 8/9;
      background-color: rgba(218, 218, 218, 0.274);
      overflow-x: hidden;
    }
    #error_message {
      opacity: 0;
      grid-column: 1/6;
      grid-row: 9/10;
    }
    #submit {
      grid-column: 1/6;
      grid-row: 10/11;
      background-color: #f68c40;
    }
  }
  input {
    margin-bottom: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    background-color: rgba(218, 218, 218, 0.274);
    height: 80%;
    width: 100%;
  }
  #submit_successful {
    background-color: #f8f8f8ec;
    margin: 10% 10% 10% 13%;
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0px 29px 34px -3px rgba(37, 37, 37, 0.4);
    display: none;
    img {
      height: 30%;
      width: 30%;
      margin: 5% 30% 5% 30%;
    }
    h4 {
      @include fontsubtitles(14px);
    }
  }
}
/*MAIN END*/
/*ASIDE START*/
aside {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  #map {
    grid-row: 2/9;
    padding-left: 15%;
    padding-top: 3%;
  }
  #address {
    grid-row: 9/11;
    padding-left: 20%;
    font-family: niveau-grotesk, sans-serif;
  }
}
/*ASIDE END*/
/*SECOND_MAIN START*/
@mixin img_size {
  height: 100px;
  width: 125px;
}
#second_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 80%;
  grid-row: 3/4;

  #second_main_title {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    padding-top: 2%;
  }
  /*SE AGREGARA OVERFLOW HIDDEN JUNTO CON MARGINS 
  NEGATIVOS PARA LAS TRANSICIONES :HOVER*/

  #div_html {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin: 5%;
    img {
      @include img_size();
    }
  }
  /*TRANSICTION START*/
  .tec_tittle,
  .tec_description {
    margin: 3% 7% 7% 7%;
    font-size: 13px;
    visibility: hidden;
    text-align: center;
  }
  #div_html:hover,
  #div_css:hover,
  #div_js:hover {
    box-shadow: 0 0 2px 1px grey;
  }

  #div_html:hover > .tec_tittle,
  #div_html:hover > .tec_description,
  #div_css:hover > .tec_tittle,
  #div_css:hover > .tec_description,
  #div_js:hover > .tec_tittle,
  #div_js:hover > .tec_description {
    animation: show_info 500ms linear;
    animation-fill-mode: forwards;
  }

  @keyframes show_info {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  /*TRANSITION END*/
  #div_css {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 5%;
    img {
      @include img_size;
    }
  }
  #div_js {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin: 5%;
    img {
      margin-top: -12px;
      height: 115px;
      width: 97px;
    }
  }
}

/*last_name END*/

/*FOOTER START*/
@mixin footertitles {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}
footer {
  border-top: 4px solid rgba(62, 0, 119, 0.808);
  background-color: #607f9b;
  width: 100vw;
  #author {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    #author_title {
      font-family: sans-serif;
      font-size: 18px;
      text-align: center;
    }
    h3 {
      @include fontsubtitles(20px);
    }
    .footers_log {
      height: 50px;
      width: 50px;
      border-radius: 10px;
    }
  }
  #privacy {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    div {
      grid-row: 2/3;
    }
    a {
      text-decoration: none;
      color: black;
      @include fontsubtitles(14px);
    }
  }
}
/*FOOTER END*/

#second_header {
  width: 100%;
}

/*----------RESPONSIVE--------------------*/

@media (min-width: 783px) and (max-width: 1010px) {
  /*Ajustando tamaño de mapa de ubiciacion para que no salga 
    del param screen*/
  main {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 690px) and (max-width: 782px) {
  @keyframes menu_expand {
    from {
      height: 0%;
      visibility: hidden;
    }
    to {
      height: 40%;
      visibility: visible;
    }
  }

  @keyframes menu_contract {
    0% {
      height: 40%;
      visibility: visible;
    }
    80% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
      height: 0%;
    }
  }
  main {
    grid-template-columns: 56% 44%;
  }
  aside > #map,
  aside > #address {
    padding-left: 3%;
  }
  #second_main .tec_tittle,
  #second_main .tec_description {
    margin: 3%;
    font-size: 12px;
    visibility: hidden;
    text-align: center;
  }
}

@media (min-width: 479px) and (max-width: 700px) {
  @keyframes nav_menu1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-45deg) translate(-5.5px, 7px);
    }
  }
  @keyframes nav_menu1_return {
    from {
      transform: rotate(-45deg) translate(-5.5px, 7px);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes nav_menu2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  @keyframes nav_menu2_return {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes nav_menu3 {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotate(-45deg) translate(9px, -11px);
    }
  }
  @keyframes nav_menu3_return {
    from {
      opacity: 0;
      transform: rotate(-45deg) translate(9px, -11px);
    }
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  header {
    grid-template-rows: 20% 80%;
  }
  #first_header {
    .header_perfil {
      margin-left: -0%;
    }
  }

  .header {
    display: none;
  }

  #menu_button {
    display: block;
    margin-left: 25%;
    height: 70%;
    width: 10%;
    background-color: #6b6ccf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .bar {
    height: 15%;
    width: 70%;
    background-color: black;
  }
  /*--------------SECOND HEADER--------------*/
  body {
    grid-template-rows: 19% 35% 41% 5%;
  }

  #second_header {
    width: 100vw;
    #A {
      margin: 5%;
    }
  }

  @keyframes menu_expand {
    from {
      height: 0%;
      visibility: hidden;
    }
    to {
      height: 40%;
      visibility: visible;
    }
  }

  @keyframes menu_contract {
    0% {
      height: 40%;
      visibility: visible;
    }
    80% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
      height: 0%;
    }
  }

  #menu {
    visibility: hidden;
    height: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu > span {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 31%;
    border-bottom: gray 3px solid;
    background-color: #4a3f3ff0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  aside {
    display: none;
  }
  /*------------MAIN------------*/

  main {
    grid-template-columns: 100%;
    #message {
      grid-template-rows: 5% 6% 7% 5% 6% 7% 5% 20% 10% 15%;
      .alert {
        grid-column: 2/5;
        grid-row: 5/11;
      }
    }
  }
  /*----------------TARJETAS-------------------*/

  #second_main {
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 30% 30%;
    #second_main_title {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
      padding-top: 5%;
    }
    /*QUITANDO ANIMACION HOVER*/
    #div_html:hover > .tec_tittle,
    #div_html:hover > .tec_description,
    #div_css:hover > .tec_tittle,
    #div_css:hover > .tec_description,
    #div_js:hover > .tec_tittle,
    #div_js:hover > .tec_description {
      animation: none;
    }

    .tec_description {
      visibility: visible;
      text-align: justify;
      margin: 3%;
      opacity: 0;
      transition: all 500ms;
    }
    .tec_tittle {
      display: none;
    }

    #div_html {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 2%;

      img {
        float: left;
        height: 50px;
        width: 60px;
      }
    }
    #div_css {
      grid-column: 1/2;
      grid-row: 3/4;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 2%;
      img {
        float: left;
        height: 50px;
        width: 60px;
      }
    }
    #div_js {
      grid-column: 1/2;
      grid-row: 4/5;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 2%;
      img {
        float: left;
        height: 55px;
        width: 55px;
      }
    }
  }
  /*FOOTER*/
  footer #author .footers_log {
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
}
/*------------------MOVILES----------------*/

@media (min-width: 100px) and (max-width: 480px) {
  @keyframes nav_menu1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  }
  @keyframes nav_menu1_return {
    from {
      transform: rotate(-45deg) translate(5.5px, 7px);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes nav_menu2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  @keyframes nav_menu2_return {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes nav_menu3 {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotate(-45deg) translate(9px, -11px);
    }
  }
  @keyframes nav_menu3_return {
    from {
      opacity: 0;
      transform: rotate(-45deg) translate(9px, -11px);
    }
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  @keyframes menu_expand {
    from {
      height: 0%;
      visibility: hidden;
    }
    to {
      height: 40%;
      visibility: visible;
    }
  }

  @keyframes menu_contract {
    0% {
      height: 40%;
      visibility: visible;
    }
    80% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
      height: 0%;
    }
  }
  header {
    grid-template-rows: 25% 75%;
  }

  #first_header {
    justify-content: normal;
    .header_perfil {
      width: 83%;
      padding-left: 3%;
      margin-left: 2%;
    }
  }

  #menu {
    visibility: hidden;
    height: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu > span {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 31%;
    border-bottom: gray 3px solid;
    background-color: #4a3f3ff0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header {
    display: none;
  }
  /*--------------SECOND HEADER--------------*/
  body {
    grid-template-rows: 15% 35% 43% 7%;
  }

  #menu_button {
    display: block;
    height: 70%;
    width: 7%;
    background-color: #6b6ccf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .bar {
    height: 15%;
    width: 80%;
    background-color: black;
  }

  #second_header {
    grid-template-rows: 40% 50%;
    width: 100vw;
    #Q {
      font-size: 26px;
    }
    #A {
      font-size: 16px;
    }
    #container {
      padding-top: 3%;
      grid-row: 2/3;
      grid-column: 1/6;
      z-index: -1;
      width: 100vw;
    }
  }
  aside {
    display: none;
  }
  /*------------MAIN------------*/

  main {
    grid-template-columns: 100%;
    margin-top: 10%;
    #message {
      grid-column: 1/2;
      padding-right: 10%;
      .alert {
        grid-column: 2/5;
        grid-row: 5/11;
      }
    }
  }
  /*----------------TARJETAS-------------------*/
  #second_main {
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 30% 30%;
    #second_main_title {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: center;
    }
    /*QUITANDO ANIMACION HOVER*/
    #div_html:hover > .tec_tittle,
    #div_html:hover > .tec_description,
    #div_css:hover > .tec_tittle,
    #div_css:hover > .tec_description,
    #div_js:hover > .tec_tittle,
    #div_js:hover > .tec_description {
      animation: none;
    }

    .tec_description {
      visibility: visible;
      text-align: right;
      margin: 3%;
      opacity: 0;
      transition: all 500ms;
    }

    #div_html {
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;
      margin: 2% 2% 0% 2%;

      img {
        float: left;
        height: 50px;
        width: 60px;
      }
    }
    #div_css {
      grid-column: 1/2;
      grid-row: 3/4;
      text-align: center;
      margin: 5% 5% 2% 5%;
      img {
        float: left;
        height: 50px;
        width: 60px;
      }
    }
    #div_js {
      grid-column: 1/2;
      grid-row: 4/5;
      text-align: center;
      margin: 5% 5% 2% 5%;
      img {
        float: left;
        height: 55px;
        width: 55px;
      }
    }
  }
  /*-----------FOOTER----------*/
  footer {
    #author {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      #author_title {
        font-size: 16px;
        width: 100%;
        margin-right: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .footers_log {
        height: 35px;
        width: 35px;
        border-radius: 10px;
      }
    }
  }
}
