@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(../Maquetacion-02_Responsive/img/pattern.png);
  overflow-x: hidden;
  width: 100vw;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 35% 32.5% 12.5%;
      grid-template-rows: 20% 35% 32.5% 12.5%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 1300px;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-rows: 30% 70%;
      grid-template-rows: 30% 70%;
}

#first_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #607f9b;
  border-bottom: 4px solid rgba(62, 0, 119, 0.808);
  width: 100vw;
  /*MENU DONDE ESTAN LOS HEADERS, SE PONE ANIMACION Y SE OCULTA
  PARA DESPUES EN RESPONSIVE MOSTRARLO Y OCULTAR LOS HEADER*/
}

#first_header .header,
#first_header .header_perfil {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#first_header .header_perfil {
  margin-left: 2%;
}

#first_header .blog {
  margin-left: 15%;
}

#first_header .blog a {
  text-decoration: none;
  color: white;
}

#first_header button {
  display: none;
  margin-right: 3%;
  height: 70%;
  width: 7%;
  background-color: red;
}

#second_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1/20;
}

#second_header #Q {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 4%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#second_header #A {
  font-size: 20px;
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  margin-top: 2%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

/*HEADER END*/
/*MAIN START*/
main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

main #message {
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
}

main #message #first_name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main #message #first_name input {
  background-color: rgba(218, 218, 218, 0.274);
  height: 80%;
  width: 125%;
}

main #message #second_name {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main #message #second_name input {
  background-color: rgba(218, 218, 218, 0.274);
  height: 80%;
  width: 125%;
}

main #message #mail {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

main #message #mail input {
  background-color: rgba(218, 218, 218, 0.274);
  height: 80%;
  width: 110%;
}

main #message #text_message {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

main #message #text_message input {
  background-color: rgba(218, 218, 218, 0.274);
  height: 80%;
  width: 110%;
}

main #message #submit {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
}

main #message input {
  background-color: #f68c40;
  height: 80%;
  width: 112%;
}

/*MAIN END*/
/*ASIDE START*/
aside {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
}

aside #map {
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  padding-left: 20%;
  padding-top: 3%;
}

aside #address {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  padding-left: 20%;
  font-family: niveau-grotesk, sans-serif;
}

/*ASIDE END*/
/*SECOND_MAIN START*/
#second_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  /*SE AGREGARA OVERFLOW HIDDEN JUNTO CON MARGINS 
  NEGATIVOS PARA LAS TRANSICIONES :HOVER*/
  /*TRANSICTION START*/
  /*TRANSITION END*/
}

#second_main #second_main_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  padding-top: 2%;
}

#second_main #div_html {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  margin: 5%;
}

#second_main #div_html img {
  height: 100px;
  width: 125px;
}

#second_main .tec_tittle,
#second_main .tec_description {
  margin: 3% 7% 7% 7%;
  font-size: 13px;
  visibility: hidden;
  text-align: center;
}

#second_main #div_html:hover,
#second_main #div_css:hover,
#second_main #div_js:hover {
  -webkit-box-shadow: 0 0 2px 1px grey;
          box-shadow: 0 0 2px 1px grey;
}

#second_main #div_html:hover > .tec_tittle,
#second_main #div_html:hover > .tec_description,
#second_main #div_css:hover > .tec_tittle,
#second_main #div_css:hover > .tec_description,
#second_main #div_js:hover > .tec_tittle,
#second_main #div_js:hover > .tec_description {
  -webkit-animation: show_info 500ms linear;
          animation: show_info 500ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show_info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show_info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#second_main #div_css {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  margin: 5%;
}

#second_main #div_css img {
  height: 100px;
  width: 125px;
}

#second_main #div_js {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  margin: 5%;
}

#second_main #div_js img {
  margin-top: -12px;
  height: 115px;
  width: 97px;
}

/*SECOND_NAME END*/
/*FOOTER START*/
footer {
  border-top: 4px solid rgba(62, 0, 119, 0.808);
  background-color: #607f9b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  width: 100vw;
}

footer #author {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
}

footer #author #author_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

footer #author h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  font-size: 20px;
  font-family: monospace;
  font-weight: normal;
}

footer #author .linkedin {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 54px;
  width: 59px;
  border-radius: 10px;
}

footer #author .linkedin .footers_log {
  height: 54px;
  width: 59px;
  border-radius: 10px;
}

footer #author .workana {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 54px;
  width: 59px;
  border-radius: 10px;
}

footer #author .workana .footers_log {
  height: 54px;
  width: 59px;
  border-radius: 10px;
}

footer #author .twitter {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding-left: 22%;
  height: 54px;
  width: 59px;
  border-radius: 10px;
}

footer #author .twitter .footers_log {
  height: 64px;
  width: 68px;
}

footer #privacy {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

footer #privacy div {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

footer #privacy div h3 {
  padding-top: 10%;
}

footer #privacy a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: monospace;
  font-weight: normal;
}

/*FOOTER END*/
#second_header {
  width: 100%;
}

/*----------RESPONSIVE--------------------*/
@media (min-width: 1011px) {
  .header {
    visibility: visible;
  }
}

@media (min-width: 783px) and (max-width: 1010px) {
  /*Ajustando tamaño de mapa de ubiciacion para que no salga 
    del param screen*/
  main {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  #map {
    padding-left: 17%;
  }
  .header {
    visibility: visible;
  }
}

@media (min-width: 690px) and (max-width: 782px) {
  main {
    -ms-grid-columns: 56% 44%;
        grid-template-columns: 56% 44%;
  }
  aside > #map,
  aside > #address {
    padding-left: 3%;
  }
  .header {
    visibility: visible;
  }
  .tec_tittle,
  .tec_description {
    margin: 3% 7% 7% 7%;
    font-size: 12px;
  }
}

@media (min-width: 479px) and (max-width: 700px) {
  header {
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
  }
  .header {
    visibility: hidden;
  }
  /*--------------SECOND HEADER--------------*/
  body {
    -ms-grid-rows: 24% 25% 41% 10%;
        grid-template-rows: 24% 25% 41% 10%;
  }
  #second_header {
    -ms-grid-rows: 40% 50%;
        grid-template-rows: 40% 50%;
    width: 100vw;
  }
  #second_header #container {
    padding-top: 3%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    z-index: -1;
  }
  #espacio_en_blanco {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  aside {
    visibility: hidden;
  }
  /*------------MAIN------------*/
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main #message {
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-right: 5%;
    /*FORM*/
  }
  main #message #first_name {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main #message #first_name input {
    background-color: rgba(218, 218, 218, 0.274);
  }
  main #message #second_name {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main #message #second_name input {
    background-color: rgba(218, 218, 218, 0.274);
  }
  main #message #mail {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    margin-top: 5%;
    margin-bottom: 8%;
  }
  main #message #mail input {
    background-color: rgba(218, 218, 218, 0.274);
    height: 80%;
    width: 110%;
  }
  main #message #text_message {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  main #message #text_message input {
    background-color: rgba(218, 218, 218, 0.274);
    height: 80%;
    width: 110%;
  }
  main #message #submit {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
    margin-top: 5%;
  }
  /*----------------TARJETAS-------------------*/
  #second_main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 30% 30% 30%;
        grid-template-rows: 10% 30% 30% 30%;
    /*QUITANDO ANIMACION HOVER*/
  }
  #second_main #second_main_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
    padding-top: 5%;
  }
  #second_main #div_html:hover > .tec_tittle,
  #second_main #div_html:hover > .tec_description,
  #second_main #div_css:hover > .tec_tittle,
  #second_main #div_css:hover > .tec_description,
  #second_main #div_js:hover > .tec_tittle,
  #second_main #div_js:hover > .tec_description {
    -webkit-animation: none;
            animation: none;
  }
  #second_main .tec_description {
    visibility: visible;
    text-align: right;
    margin: 3%;
    opacity: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  #second_main #div_html {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
    margin: 2%;
  }
  #second_main #div_html img {
    float: left;
    height: 50px;
    width: 60px;
  }
  #second_main #div_css {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    text-align: center;
    margin: 5%;
  }
  #second_main #div_css img {
    float: left;
    height: 50px;
    width: 60px;
  }
  #second_main #div_js {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    text-align: center;
    margin: 5%;
  }
  #second_main #div_js img {
    float: left;
    height: 55px;
    width: 55px;
  }
}

/*------------------MOVILES----------------*/
@media (min-width: 100px) and (max-width: 480px) {
  header {
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
  }
  #first_header {
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
  }
  #first_header .header_perfil {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  #first_header #menu_desplegable {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  #menu_des {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    position: relative;
    width: 100vw;
  }
  .header {
    visibility: hidden;
  }
  /*--------------SECOND HEADER--------------*/
  body {
    -ms-grid-rows: 24% 25% 41% 10%;
        grid-template-rows: 24% 25% 41% 10%;
  }
  ul {
    list-style: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  ul li {
    margin-top: 1%;
  }
  #second_header {
    -ms-grid-rows: 40% 50%;
        grid-template-rows: 40% 50%;
    width: 100vw;
  }
  #second_header #Q {
    font-size: 26px;
  }
  #second_header #A {
    font-size: 16px;
  }
  #second_header #container {
    padding-top: 3%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    z-index: -1;
    width: 100vw;
  }
  #espacio_en_blanco {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  aside {
    visibility: hidden;
  }
  /*------------MAIN------------*/
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main #message {
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-right: 10%;
    /*FORM*/
  }
  main #message #first_name {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main #message #first_name input {
    background-color: rgba(218, 218, 218, 0.274);
  }
  main #message #second_name {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main #message #second_name input {
    background-color: rgba(218, 218, 218, 0.274);
  }
  main #message #mail {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    margin-top: 5%;
    margin-bottom: 8%;
  }
  main #message #mail input {
    background-color: rgba(218, 218, 218, 0.274);
    height: 80%;
    width: 110%;
  }
  main #message #text_message {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  main #message #text_message input {
    background-color: rgba(218, 218, 218, 0.274);
    height: 80%;
    width: 110%;
  }
  main #message #submit {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
    margin-top: 5%;
  }
  /*----------------TARJETAS-------------------*/
  #second_main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 30% 30% 30%;
        grid-template-rows: 10% 30% 30% 30%;
    /*QUITANDO ANIMACION HOVER*/
  }
  #second_main #second_main_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
    padding-top: 5%;
  }
  #second_main #div_html:hover > .tec_tittle,
  #second_main #div_html:hover > .tec_description,
  #second_main #div_css:hover > .tec_tittle,
  #second_main #div_css:hover > .tec_description,
  #second_main #div_js:hover > .tec_tittle,
  #second_main #div_js:hover > .tec_description {
    -webkit-animation: none;
            animation: none;
  }
  #second_main .tec_description {
    visibility: visible;
    text-align: right;
    margin: 3%;
    opacity: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  #second_main #div_html {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
    margin: 2% 2% 0% 2%;
  }
  #second_main #div_html img {
    float: left;
    height: 50px;
    width: 60px;
  }
  #second_main #div_css {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    text-align: center;
    margin: 5% 5% 2% 5%;
  }
  #second_main #div_css img {
    float: left;
    height: 50px;
    width: 60px;
  }
  #second_main #div_js {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    text-align: center;
    margin: 5% 5% 2% 5%;
  }
  #second_main #div_js img {
    float: left;
    height: 55px;
    width: 55px;
  }
  /*-----------FOOTER----------*/
  footer #author div {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 19px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  footer #author .linkedin {
    margin-left: 25%;
    margin-right: 25%;
    width: 30%;
  }
  footer #author .linkedin .footers_log {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */